.active{
  color: black;
}
.home {
  color: green;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.container_about{
  display: flex;
  justify-content: center;
}
#accordionExample{
   display: flex;
    flex-direction: column;
    width: 40vw;
}
.accordion-button::after {
  filter: invert(1);
}
ul{
  list-style-type: none;
}
li>a{
  text-decoration: none;
  color: black;
}
.btn-go{
  border: 2px solid black;
  height: 28px;
  padding: 0px;
  z-index: 1;
  width: 58px;
  background-color: red;
  color: white;
  border-radius:5px;
}