.active{
  color: black;
}
.home {
  color: green;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.container_about{
  display: flex;
  justify-content: center;
}
#accordionExample{
   display: flex;
    flex-direction: column;
    width: 40vw;
}

/* ul{
  text-decoration: none;
  list-style: none;
  font-style: none;
}
li{
  list-style: none;
  font-style: none;
} */
